@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,700&display=swap');

:root {
    --dark-violet: #562542;
    --light-green-bg: #effcf2;
    --dim-green:#3D8677;
    --dark-green:#1C574C;
    --light-green: #C5F6B7;
    --blue: #46B0C6;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

section, footer {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #fff;
}

.logo, .navlist ul li a {
    color: var(--dark-violet);
}

.navigation span  {
    font-weight: 600;
}

.navlist ul{
    list-style: none;
    display: flex;
}

.navlist ul li a {
    margin: 0 15px;
}

.navlist li .highlight {
    background-color: var(--dark-green);
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 0 0;
}

/* Hero image css */

.hero-image {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
    align-items: center;
}

/* .hero-image .illustration {
    width: 50%;
} */

/* .hero-image .hero-text {
    width: 50%;
    margin-top: 150px; 
} */

.hero-image .illustration img {
    width: 100%;
    max-width: 100%; 
    height: auto;
}



.hero-title {
    color: var(--dark-green);
    font-size: 2.5em;
    font-weight: 600;
}
.hero-title span {
    font-weight: bold;
    color: var(--dark-violet);
}

 .text{
    margin: 30px 0;
    color: var(--dark-green);
}

.btn a {
    color: #fff;
}

.btn{
    display: inline-block;
    background-color: var(--dim-green);
    padding: 15px 20px;
    border-radius: 30px;
}


/* Featured CSS */

.features {
    background-color: var(--dim-green);
    padding: 50px 0;
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    color: #fff;
}

.box-features {
    display: flex;
    flex-direction: column;
}

.box-features .box-colors {
    /* width: 80px;
    height: 80px; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* margin-bottom: 30px; */
    border-radius: 10px;
}

.box-features .box-colors h1 {
    /* margin-bottom: 30px;  */
    font-size: 2.5em;
    background-color: var(--dark-violet);
    padding: 30px 35px;
    border-radius: 10px;
}

.box-features .box-colors .dark-green {
    background-color: var(--dark-green);
}

.box-features .box-colors .blue {
    background-color: var(--blue);
}

.box-features h3, .box-features p {
    margin: 10px 0;
    color: var(--leaf-green);
}

.box-features h3 {
    color: #fff;
}


/* Learning Path CSS */

.learning-path, .success-story {
    background-color: var(--light-green-bg);
}

.learning-path{
    padding: 70px 0;
}

.section-tag {
    margin: 0 0 70px 0;
    color: var(--dark-green);
}


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 20px 0 20px;
    min-height: 250px;

}
.card-body h4 {
    margin: 20px 0 0 0
}

.card-body p {
    font-size: 12px;
} 

.lesson-number {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.lesson-number img {
    width: 1em; 
    margin-right: 10px;
}
.tag-conteiner {
    display: flex;
}

.tag {
    background-color: var(--dim-green);
    border-radius: 50px;
    font-size: 10px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
}

.tag-violet {
    background-color: var(--dark-violet);
}
.tag-dg {
    background-color: var(--dark-green);
}

.btn-container {
    margin: 0px 0 10px 0;
    display: flex;
    flex-wrap: wrap;

}

.btn-container .btn-card {
    
    padding: 5px 10px;
    font-size: 0.8em;
    color: #fff;
    border-radius: 50px;
    margin: 0 10px 10px 0;
}

.dark-green {
    background-color: var(--dark-green);
}

.blue {
    background-color: var(--blue);
}

.violet { 
    background-color: var(--dark-violet);
}


/* Newsletter CSS */
.subs-newsletter .container {
    padding: 100px 0 140px 0;
}


.newsletter-title {
    padding: 0 0 50px 0;
    text-align: center;
}

.input-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-newsletter input{
    width: 35%;
    padding: 20px;
    border: 3px solid var(--dark-violet) ;
    border-radius: 50px;
    margin-right: 30px;
}

.input-newsletter .subs {
    color: #fff;
    background-color: var(--dark-violet);
    padding: 20px 25px;
    border-radius: 40px;
}

.newsletter-title p{
    color: var(--dark-green);
}

.newsletter-title h1 {
    color: var(--dark-green);
}
.newsletter-title span {
    font-weight: bold;
    color: var(--dark-violet);
}

/* Success Story CSS */
.success-story .container {
    padding: 60px 0;
}

.story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25px
}

.story {
    background-color: #fff;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display:flex;
    flex-direction: column;
}

.story a{
    background-color: var(--dark-green);
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;

}

.story .story-foot {
    margin-top: 20px;
}
  
.story h4 {
    font-size: 1.5em;
    margin: ;
}

/* Media Query */

@media (max-width: 940px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .hero-image {
        grid-template-columns: 1fr;
        margin: 100px 0;
        text-align: center;
    }

    .features .box-container {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .features .box-container .box-features {
        justify-content: center;
        align-items: center;
    }

    .story-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 590px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}